/* font from https://fonts.google.com/specimen/Zalando+Sans+Expanded */

.zalando-sans-expanded {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}