body {
    font-family: Arial, sans-serif;
    background-color: #f0faff;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8bd3fc;
    color: white;
    padding: 1.5rem 2rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: white;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

}

.section {
    background: white;
    /* padding: 3rem 2rem; */
    padding: 2rem;
    /* margin: 4rem auto; */
    margin: 2rem 0;
    /* max-width: 90%; */
    border-radius: 1rem;
}

.about {
    margin: 3rem auto;
    padding: 0 1rem;
}

footer {
    background-color: #8bd3fc;
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: black;

}

p {
    font-size: 1rem;
    line-height: 1.8;
    color: black;
}

footer p {
    font-size: 1rem;
    line-height: 1.8;
    color: white;
}

svg {
    border: solid lightgrey;
}

@media (max-width: 1068px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 1.5rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding: 1.5rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .section {

        padding: 1.5rem;
    }
}